* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}

body {
    background: var(--body-bg) no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

.a-active {
    background-color: var(--a-active-color);
}

.wrapper {
    width: var(--wrapper-w);
    margin: 0 auto;
}

.base-container {
    height: var(--base-container-h);
    overflow-y: scroll;
    position: fixed;
    left: 50%;
    padding: 2vh;
    border-bottom: 3px black dotted;
    border-left: 3px black solid;
    border-right: 3px black solid;
    transform: translateX(-50%);
}

.base-container::-webkit-scrollbar {
    display: none;
}

.float-btn {
    position: fixed;
    background-color: var(--float-btn-bg);
    right: 20vw;
    width: var(--float-btn-size);
    height: var(--float-btn-size);
    color: var(--float-btn-color);
    text-align: center;
    box-shadow: var(--float-btn-shadow);
    line-height: var(--float-btn-size);
    transition: background-color 300ms, transform 300ms;
    user-select: none;
}

.float-btn span {
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
}

.float-btn:hover {
    background-color: var(--float-btn-hover-bg);
    cursor: pointer;
}

.float-btn:active{
    transform: scale(0.9);
}

.float-btn#to-top {
    bottom: 20vh;
}

.float-btn#to-bottom {
    bottom: 10vh;
}