:root {
    --body-bg: url(../image/body_bg.jpg);
    --header-bg: rgba(255, 255, 255, 0.8);
    --header-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    --title-color: black;
    --nav-underline-color: skyblue;
    --nav-color: black;
    --nav-hover-color: blue;
    --button-bg: rgba(255, 255, 255, 0.7);
    --button-color: black;
    --button-hover-color: blue;
    --article-bg: rgba(255, 255, 255, 0.7);
}