@import "./color.css";

* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}

body {
    background: var(--body-bg) no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    height: 5vh;
    background-color: var(--header-bg);
    box-shadow: var(--header-shadow);
}

.title {
    float: left;
    margin-left: 3%;
    line-height: 5vh;
    font-size: 20px;
    font-weight: bold;
    color: var(--title-color);
}

.nav {
    width: 75vw;
    height: 5vh;
    margin: 0 auto;
}

.nav li {
    float: left;
    margin-right: 5%;
    line-height: 5vh;
}

.nav li:hover {
    border-bottom: 2px solid var(--nav-underline-color);
}

.nav li a {
    display: block;
    height: 5vh;
    padding: 0 9px;
    color: var(--nav-color);
    font-weight: bold;
    font-size: 16px;
}

.nav li a:hover {
    color: var(--nav-hover-color);
    transform: scale(1.2);
}

.wrapper {
    width: 65vw;
    margin: 0 auto;
}

.base-container {
    height: 95vh;
    overflow-y: scroll;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.base-container::-webkit-scrollbar {
    display: none;
}

.nav-page {
    text-align: center;
    margin-top: 30vh;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--button-bg);
    color: var(--button-color);
    text-decoration: none;
    height: 2vh;
    line-height: 2vh;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--button-hover-color);
}

.article {
    background-color: var(--article-bg);
    width: 80%;
    height: 70vh;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.article::-webkit-scrollbar {
    display: none;
}