@import "./color.css";
@import "./size.css";

* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}

body {
    background: var(--body-bg) no-repeat center center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    height: var(--header-h);
    background-color: var(--header-bg);
    box-shadow: var(--header-shadow);
    caret-color: transparent;
}

.title {
    float: left;
    margin-left: 3%;
    line-height: 5vh;
    font-size: 20px;
    font-weight: bold;
    color: var(--title-color);
    transition:800ms;
}

.title:hover{
    color: var(--nav-hover-color);
    transform: scale(1.2);
}

.nav {
    position: relative;
    width: var(--nav-w);
    height: var(--nav-h);
    margin: 0 auto;
}

.nav li {
    float: left;
    margin-right: var(--nav-li-right);
    width: var(--nav-li-w);
    height: var(--nav-h);
    text-align: center;
    line-height: 5vh;
    transition: all 800ms;
}

.nav li:hover {
    border-bottom: 2px solid var(--nav-underline-color);
}

.nav li a {
    display: block;
    padding: 0 9px;
    color: var(--nav-color);
    font-weight: bold;
    font-size: 16px;
    transition: all 800ms;
}

.nav li a:hover {
    color: var(--nav-hover-color);
    transform: scale(1.2);
}

.slider {
    position: absolute;
    width: var(--nav-li-w);
    height: var(--nav-h);
    background-color: rgba(128, 128, 128, 0);
    left: calc(var(--nav-li-w) * -1);
    z-index: -1;
    transition: 800ms;
}

.nav li:nth-child(1):hover~.slider {
    left: calc(var(--slider-left) * 0);
    background-color: var(--slider-color);
}

.nav li:nth-child(2):hover~.slider {
    left: calc(var(--slider-left) * 1);
    background-color: var(--slider-color);
}

.nav li:nth-child(3):hover~.slider {
    left: calc(var(--slider-left) * 2);
    background-color: var(--slider-color);
}

.wrapper {
    width: 65vw;
    margin: 0 auto;
}

.base-container {
    height: 95vh;
    overflow-y: scroll;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.base-container::-webkit-scrollbar {
    display: none;
}

.window {
    margin: 5% auto;
    width: 60%;
    height: 180px;
    line-height: 180px;
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    border: none;
    transition: all 400ms;
}

.window:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

.window a {
    display: block;
    font-size: 20px;
    color: var(--window-color);
    transition: all 800ms;
}

.window a:hover {
    font-size: 25px;
    font-weight: bold;
    color: var(--window-hover-color);
}