:root {
    --header-h: 6vh;
    --nav-w: 75vw;
    --nav-li-w: 5vw;
    --nav-li-right: 2vw;
    --slider-left: calc(var(--nav-li-w) + var(--nav-li-right));
    --wrapper-w: 65vw;
    --base-container-h: calc(92vh - var(--header-h));
    --window-w: 60%;
    --window-h: 180px;
    --float-btn-size: 80px;
}